* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --p: "Poppins", sans-serif;
    --r: "Roboto", sans-serif;
    --s: "Space Grotesk", sans-serif;
    --l: "Lobster", sans-serif;
}

body {
    background-image: url("Images/background-flo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    
}

.navigation{
    display: flex;
    align-items: center;
}



.navigation nav a {
    text-decoration: none;
    color: #ffffff;
    
    font-size: 3rem;
    margin-right: 4.5rem;
}

.navigation h1 {
    font-family: var(--l);
    padding: 2rem 4rem;
    font-size: 6rem;
    margin-right: 145rem;
    color: rgb(1, 179, 250);
}

.navigation nav,
.content .text-hight {
    font-family: var(--s);
    font-weight: 700;
}

.content {
    display: flex;
    color: #ffffff;
}

.content .text-low {
    font-family: var(--r);

    margin: 30rem 50rem 0;
    padding-top: 7rem;

    font-size: 2.8rem;

    width: 35rem;
}

.content .text-low p {
    margin: 2rem 0 6rem;

    font-size: 2rem;
}

.content .text-low h1 {
    letter-spacing: 1rem;
}

.content .text-low a {
    text-decoration: none;
    color: #ffffff;
    
    font-family: var(--s);
    font-size: 2.5rem;

    padding: 1rem 2rem;

    border: 2px solid rgb(187, 187, 187);
}


.content .text-hight h1 {
    font-size: 18rem;
    letter-spacing: 2rem;
    

    background-image: url("Images/back-text.jpg");
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;

    margin-left: 55rem;
    
}

.content .text-hight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content .text-hight h1 span{
    border-right: 1px solid rgb(202, 202, 202);
    padding-right: 2rem;
}



.content .text-hight .icon{
    display: flex;
    
}


.content .text-hight .icon .image {
    display: flex;
    flex-direction: column;
}

.content .text-hight .icon a img {
    padding: 5px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 2rem;
    margin: 0 0 9.5rem;
    
    
}

.content .text-hight .icon a {
    height: 5.5rem;
    width: 1.8rem;
}

.content .text-hight  h2 {
    font-size: 5.6rem;
    margin: 20px 29rem 0 0;
    font-family: var(--r);

    
}

.content .text-hight h2 #barra-color,
.content .text-hight h2 #data-font {
    color: rgb(141, 140, 140);
    font-size: 4.6rem;
}

.content .text-hight h2 #data-font{
    font-size: 3.2rem;
}

.content .text-hight  h2::after {
    content: "";
    position: absolute;
    bottom: 110px;
    right: 10px;
    transform: translateX(-50%);
    border-bottom: 1px solid rgb(202, 202, 202);
    width: 10%;

}