* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --p: "Poppins", sans-serif;
    --r: "Roboto", sans-serif;
    --s: "Space Grotesk", sans-serif;
    --l: "Lobster", sans-serif;
}

body {
    background-image: url("Images/background-flo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    
}

.navigation{
    display: flex;
    align-items: center;
}



.navigation nav a {
    text-decoration: none;
    color: #ffffff;
    
    font-size: 3.2rem;
    margin-right: 5rem;
}

.navigation h1 {
    font-family: var(--l);
    padding: 2rem 4rem;
    font-size: 6rem;
    margin-right: 145rem;
    color: rgb(1, 179, 250);
}

.navigation nav,
.content .text-hight {
    font-family: var(--s);
    font-weight: 700;
}